@font-face {
    font-family: 'TwistingHaunt';
    src: url('./Px437_IBM_VGA9.ttf');
}

html {
    background: #1a1701;
    font-family: 'TwistingHaunt';
}

body {
    color: #6b5d03;
    font-family: 'TwistingHaunt';
    overflow-x: auto;
}

h1 {
    margin: .25em;
    padding-bottom: 1em;
    align-content: center;
}

.header-nav {
    white-space: nowrap;
    overflow-x: auto;
}
.header {
    display: inline-block;
}
.navigation {
    padding-top: 5em;
    padding-bottom: 5em;
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    border-color: #6b5d03;
    border-style: solid;
    border-width: 1;
    
}

.nav-table {
    padding: 0em, 1em;
}

ul li{
    list-style-type: none;
    padding: 2em, 3em;
    margin-bottom: 2em;
}

a {
    font-size: 2em;
    text-decoration: none;
}
a:link, a:visited {
    color: #6b5d03;
}
a:hover, a:active {
    color: #ceb306;
}